@media(min-width: 1200px) {
  .navbar .navbar-nav .nav-link:hover {
    border-bottom: 1px solid white;
  }
}


@media(max-width: 1200px) {
  .navbar .navbar-nav .nav-link:hover {
    color: white;
  }
  
 
}

@media (max-width: 768px) {
  .social {

    width: 50%;


  }


}

@media (min-width: 768px) {
  .social {

    width: 25%;
    


  }


}

#main{ 
  height: 90vh;
  width: 100%;
  background-image:url("img/60327118_2684548914953221_1437160675024568320_n.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

body::before {
  display: block;
  content:'';
  height:40px;
}

html {
  font-size: 1.2rem;
  
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  
}

hr {
  margin:auto;
  width: 250px;
}






